@import "tailwindcss";

@theme {
  --color-primary: #b3850f;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221d10;
}

:root {
  font-family: 'Work Sans', system-ui, -apple-system, sans-serif;
}

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100;
  margin: 0;
}
